*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
/* nav */
nav{
    grid-area: nav;
    background-color: darkgreen;
    color: azure;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
nav img{
    width: 50px;
    padding-right: 20px;
    animation: 1s linear 1s infinite alternate camera;
}
@keyframes camera{
    from{
        transform: translateX(30px);
    }
    to{
        transform: translateX(80);
    }
}
/* main */
main{
    grid-area: main;
    background-color: rgb(143, 255, 174);
    height: 150px;
    display: flex;
    justify-content: space-around;
}
main a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-right: 30px;
    transition: all 2s;
}
main a:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/* section */
section{
    grid-area: section;
    background-color: rgb(68, 159, 88);
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
section h1{
    padding-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px rgb(0, 66, 0);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
}
.card img{
    border-radius: 10px;
    width: 90%;
    filter: grayscale(1);
    transition: all 2s;
}
.card img:hover{
    object-fit: cover;
    transform: scale(1.1);
    filter: grayscale(0);
}
.card button{
    border-radius: 5px;
    width: 30%;
    height: 35px;
}
.button{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
}
.button img{
    width: 25px;
}
/* footer */
footer img{
    width: 40px;
}
footer{
    grid-area: footer;
    background-color: rgb(0, 75, 38);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 150px;
}
footer div{
    padding: 10px;
}
/* tablet version */
@media (min-width:576px){
    .grid{
        display: grid;
        grid-template-areas: 
        "nav section"
        "main section"
        "footer footer";
        grid-template-columns: 25% 75%;
        grid-template-rows: auto 1fr auto;
    }
    /* nav */
    nav{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        height: 200px;
        padding: 30px;
    }
    /* main */
    main{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background-color: rgb(143, 255, 174);
    }
    main h4{
        padding-top: 30px;
    }
    /* section */
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        display: flex;
        width: 45%;
    }
    .card img:hover{
        transform: scale(1.1);
    }
    .card button{
        width: 30%;
    }
    .button{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        padding: 20px;
    }
    /* footer */
    footer{
        text-align: center;
        height: 150px;
    }
}
/* desktop version */
@media (min-width:992px){
    .grid{
        display: grid;
        grid-template-areas: 
        "nav section"
        "main section"
        "footer footer";
        grid-template-columns: 20% auto;
        grid-template-rows: auto 5fr auto;
    }
    /* nav */
    nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px;
        min-height: 100%;
    }
    nav img{
        width: 60px;
    }
    /* main */
    main{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: rgb(143, 255, 174);
        color: black;
        padding-top: 20px;
        min-height: 100%;
    }
    main a{
        padding: 20px;
    }
    /* section */
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        width: 30%;
        background-color: rgb(49, 188, 95);
    }
    .card img:hover{
        transform: scale(1.1);
    }
    .card button{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .button{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        padding: 20px;
    }
    /* footer */
    footer{
        background-color: rgb(0, 75, 38);
    }
}