*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poiret One', cursive;
}
/* general */
h1 h2{
    font-weight: 500;
}
/* nav */
nav img{
    width: 50px;
    padding-right: 20px;
}
nav{
    grid-area: nav;
    background-color: darkgreen;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
/* main */
main{
    grid-area: main;
    background-color: rgb(68, 159, 88);
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
main h2{
    padding-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px rgb(0, 66, 0);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
}
.card img{
    border-radius: 10px;
    width: 90%;
}
.card button{
    border-radius: 5px;
    width: 100px;
    height: 35px;
}
.button{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
}
.button img{
    width: 25px;
}
/* footer */
footer img{
    width: 40px;
}
footer{
    grid-area: footer;
    background-color: rgb(0, 75, 38);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
}
/* desktop version */
@media (min-width:992px){
    .grid{
        display: grid;
        grid-template-areas: 
        "nav main"
        "footer footer";
        grid-template-columns: 20% auto;
        grid-template-rows: 80% auto;
    }
    /* nav */
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        text-align: center;
        flex-direction: column;
        padding: 30px;
        min-height: 100%;
    }
    nav img{
        width: 60px;
    }
    /* main */
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .card{
        width: 30%;
    }
    .card button{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: justify;
        padding: 20px;
    }
    /* footer */
    footer{
        background-color: rgb(0, 75, 38);
    }
}