*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poiret One', cursive;
}
/* general */
h1 h2{
    font-weight: 500;
}
/* nav */
nav img{
    width: 50px;
    padding-right: 20px;
}
nav{
    background-color: darkgreen;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
/* main */
main{
    background-color: rgb(68, 159, 88);
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
main h2{
    padding-bottom: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px rgb(0, 66, 0);
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
}
.card img{
    border-radius: 10px;
    width: 90%;
}
.card button{
    border-radius: 5px;
    width: 150px;
    height: 35px;
}
.button{
    padding: 20px;
}
.button img{
    width: 25px;
}
/* footer */
footer img{
    width: 40px;
}
footer{
    background-color: darkgreen;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
}